---
name: Test Build

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
      with:
        # renovate: datasource=golang-version packageName=go
        go-version: 1.25.4

    - name: Test
      run: go test -v ./...

    - name: Build
      run: go build -v .

  goreleaser:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - name: Checkout
      uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
      with:
        # renovate: datasource=golang-version packageName=go
        go-version: 1.25.4

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
      with:
        # renovate: datasource=github-releases packageName=goreleaser/goreleaser
        version: 2.12.7
        args: build --snapshot --clean

