---
name: Test Build

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
      with:
        # renovate: datasource=golang-version packageName=go
        go-version: 1.25.5

    - name: Test
      run: go test -v ./...

    - name: Build
      run: go build -v .

  goreleaser:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
      with:
        # renovate: datasource=golang-version packageName=go
        go-version: 1.25.5

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
      with:
        # renovate: datasource=github-releases packageName=goreleaser/goreleaser
        version: 2.13.3
        args: build --snapshot --clean

